<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <a href="<%= @book.url %>" target="_blank"><strong>View</strong></a>
  <%= link_to "Download", @book.url %>
</p>




<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
